include *.py
include *.rst
include COPYING
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include examples *.xls
recursive-include examples *.xlsx
recursive-include tests *.py
